[submodule "third_party/imtui"]
	path = third_party/imtui
	url = https://github.com/ggerganov/imtui.git
[submodule "third_party/micropython"]
	path = third_party/micropython
	url = https://github.com/micropython/micropython.git
[submodule "third_party/pdcurses"]
	path = third_party/pdcurses
	url = https://github.com/wmcbrine/PDCurses.git
[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest.git
[submodule "third_party/quickjs"]
	path = third_party/quickjs
	url = https://github.com/bellard/quickjs.git
